
html,body, #root {
  /* background-color: rgb(23, 42, 59); */
  height: 100%;
  background-color: rgb(7, 14, 20);
}

#main-container{
  display: flex;
  /* border: 3px solid yellow; */
  flex-direction: row;
  height: 100%;
}

#picture{ 
  width: 68%;
  margin:0;  
  height: 100%;
  background-image: url("Olga2.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain;
  /* border: 3px solid rgb(227, 28, 28); */
  
}

#menu-box {
 width: 33%;
 /* height: 100%;  */
 text-align: left;
 padding-top: 17%; 
 /* padding-top: 10%; */
 /* flex: 1; */
 /* border: 1px solid rgb(241, 229, 229);    */
 color: rgb(247 200 34);
 background-color: rgb(7, 14, 20);
 font-family:Verdana;
}

#info-box {
height: 80%;
margin-top: 18%;
/* margin-left: 47%; */
margin-bottom: 5%;
/* flex: 2; */
/* border: 1px solid rgb(238, 238, 234);   */
justify-content: flex-end;
}

#menu-box > p {
  padding: 2%;
  margin: 1%; 
  /* border: 1px solid red;  */
  margin-right: 70%;
  font-family: 'OptiBankGothic Light';
  font-size: 9px;
  letter-spacing: 3px;
}


#component {
/* border: 1px solid red; */
height: 100%;
background-color: rgb(9, 22, 28);
opacity: 0.6;
color: white;
width:fit-content;
float:right;
padding: 2%;
color: rgb(247 200 34);
}


#component > p{
  font-family: 'Segoe UI';
  font-size: 8pt;
  line-height: 10pt;
}

#component > h4{
  font-family: 'OptiBankGothic Light';
  font-size: 9px;
  letter-spacing: 3px;
  padding-bottom: 3%;
}


#five-pics {
  width: 100%;
  height: auto;
}
/* #component > p {
  font-size: 45px;
  color: white;
} */

/* #menu-box > p {
  width: '30%';
  border: '1px solid red', 
} */