
html,body, #root {
  /* background-color: rgb(23, 42, 59); */
  height: 100%; 
  background-color: rgb(10, 17, 23); 
}

@font-face {
  font-family: 'OPTIBankGothic-Light';
  src: local('OPTIBankGothic-Light'),
  url('./OPTIBankGothic-Light.otf') format('truetype');
}



#main-container{
  display: flex;
  /* border: 3px solid yellow;   */
  flex-direction: row;
  height: 100%;
}

 


#picture{ 
  width: 152vh;
  margin:0;  
  height: 100vh;
  background-image: url("Olga2.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain;
  /* border: 3px solid rgb(227, 28, 28);   */
}
/* @media only screen and (max-width: 600px) {
  #picture {
  margin:0;  
  height: 100vh;
  background-image: url("OlgaMobile.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain;
  }
} */

#menu-box {
 text-align: left; 
 display: flex;
 flex-direction:column;
 justify-content: center;
 /* border: 1px solid blue; */
 color: rgb(247 200 34);
}

#info-box {
height: 70%;
margin-top: 20%;
/* border: 1px solid blue;     */
justify-content: flex-end;
}


 #main-container-mob{
  height: 100%;
  width: 100%;
} 

#mobile-header{
  position: relative;
  background-image: url("OlgaMob-header.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain;
  width: 100%;
  height: 100px;
  /* border: 1px solid red;  */
}

#menubtn{
  position: absolute;
  right: 15px;
  bottom: 10px;
  width: 20px;
  height: 15px;
  cursor: pointer; 
  /* border: 1px solid red;  */
}

#mobile-body {
  display: flex;
  background-image: url("OlgaMobilePic.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain;
  height: 85%;
}

#info-box-mob{
  /* border: 2px solid red;   */
  height: 100%;
  width: 72%;
}

#dropdown {
  /* float:right; */
  width: 28%;
  height: 100%;
  /* border: 2px solid red;     */
}
#dropdown-content {
  display: none;
  padding-top: 6px;
  background-color:rgb(7, 14, 20); 
  height: 100%;
  /* border: 2px solid red;   */
}  

#dropdown-content p {
  color: rgb(247 200 34);
  padding: 5px 10px;
  display: block; 
  margin: 10px auto;
  font-family: OPTIBankGothic-Light;
  font-size: 9px;
  letter-spacing: 2px;
  font-weight: bold;
}

#dropdown-content p:hover {
  background-color: rgb(51, 77, 100);
}

#menu-box > p {
  padding: 2%;
  margin: 4%;
  /* border: 1px solid red;    */
  margin-right: 70%;
  font-family: OPTIBankGothic-Light;
  font-size: 9px;
  letter-spacing: 2px;
}

#component {
/* border: 1px solid red;  */
height: 100%;
background-color: rgb(9, 22, 28);
opacity: 0.6;
width:fit-content;
float:right;
padding: 2%;
color: rgb(247 200 34);
display: flex;
flex-direction: column;
}

@media only screen and (max-width: 600px) {
  #component { 
    height: 100%;
    width: 100%;
    background-color: rgb(9, 22, 28);
    opacity: 0.6;
    padding: 2%;
    color: rgb(247 200 34); 
    /* border: 1px solid red; */
  }
} 

/* @media only screen and (max-width: 600px) {
  #component-gallery {
    
    height: 40%;
    background-color: rgb(9, 22, 28);
    opacity: 0.6;
    padding: 2%;
    color: rgb(247 200 34);
    margin: 5%;
    
    }
}  */


#component > p{
  font-family: 'Segoe UI';
  font-size: 8pt;
  /* line-height: 10pt; */
}

#component > h4{
  font-family: OPTIBankGothic-Light;
  font-size: 9px;
  letter-spacing: 2px;
  padding-bottom: 3%;
}


#five-pics {
  width:90%;
  margin-left: 5%;
  /* height: auto; */
  /* border: 1px solid red;  */
  
}

#res1 {
  width: 445px;
  height: auto;
}
#res2 {
  width: 445px;
  height: auto;
 
}

