
html,body, #root {
  /* background-color: rgb(23, 42, 59); */
  height: 100%; 
  background-color: rgb(7, 14, 20); 
}

@font-face {
  font-family: 'OPTIBankGothic-Light';
  src: local('OPTIBankGothic-Light'),
  url('./OPTIBankGothic-Light.otf') format('truetype');
}



#main-container{
  display: flex;
  /* border: 3px solid yellow;   */
  flex-direction: row;
  height: 100%;
}

 


#picture{ 
  width: 152vh;
  margin:0;  
  height: 100vh;
  background-image: url("Olga2.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain;
  /* border: 3px solid rgb(227, 28, 28);   */
}
/* @media only screen and (max-width: 600px) {
  #picture {
  margin:0;  
  height: 100vh;
  background-image: url("OlgaMobile.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain;
  }
} */

#menu-box {
 text-align: left; 
 display: flex;
 flex-direction:column;
 justify-content: center;
 /* border: 1px solid blue; */
 color: rgb(247 200 34);
}
/* @media only screen and (max-width: 600px) {
#menu-box {
  position: absolute;
  text-align: left;  
  display: none;
  flex-direction:column;
  justify-content: center;
  
  color: rgb(247 200 34);
  height: 100%;
  width: 25%;
  right: 0px;
  top: 110px;
  background-color: rgb(7, 14, 20); 
 }
} */

#info-box {
height: 70%;
margin-top: 20%;
/* border: 1px solid blue;     */
justify-content: flex-end;
}

/* @media only screen and (max-width: 600px) {
#info-box {
  height: 70%;
  margin-top: 20%;
  justify-content: flex-end;
}  
} */

/* #menubtn{
display: none;
}
 */

 #main-container-mob{
  height: 100%;
  /* display: flex;
  background-image: url("OlgaMobile.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain; */
} 

#mobile-header{
  position: relative;
  background-image: url("OlgaMob-header.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain;
  height: 15%; 
  /* border: 1px solid red;  */
}

#menubtn{
  position: absolute;
  right: 7px;
  bottom: 7px;
  /* margin-top: 82px; 
  margin-left: 80px; 
  margin-bottom: 3px; */
  width: 15px;
  height: 10px;
  cursor: pointer; 
  /* border: 1px solid red;  */
}

#mobile-body {
  display: flex;
  background-image: url("OlgaMobilePic.jpg");
  background-position: cover;  
  background-repeat: no-repeat; 
  background-size: contain;
  height: 85%;
}

#info-box-mob{
  /* border: 2px solid red;   */
  height: 100%;
  width: 72%;
}

#dropdown {
  /* float:right; */
  width: 28%;
  height: 100%;
  /* border: 2px solid white;   */ 
}
#dropdown-content {
  display: none;
  padding-top: 3px;
  background-color:rgb(7, 14, 20); 
  height: 100%;
  /* border: 2px solid red;   */
}  

#dropdown-content p {
  color: rgb(247 200 34);
  padding: 5px 10px;
  display: block; 
  margin: 10px auto;
  font-family: OPTIBankGothic-Light;
  font-size: 10px;
  letter-spacing: 3px;
}

#dropdown-content p:hover {
  background-color: rgb(51, 77, 100);
}



#menu-box > p {
  padding: 2%;
  margin: 1%;
  /* border: 1px solid red;   */
  margin-right: 70%;
  font-family: OPTIBankGothic-Light;
  font-size: 9px;
  letter-spacing: 3px;
}

/* @media only screen and (max-width: 600px) {
#menu-box > p {
  display: none;
  padding: 5%;
  margin: 3%;
 
  margin-right: 70%;
  font-family: 'OptiBankGothic Light';
  font-size: 9px;
  letter-spacing: 3px;
}
} */


#component {
/* border: 1px solid red;  */
height: 100%;
background-color: rgb(9, 22, 28);
opacity: 0.6;
width:fit-content;
float:right;
padding: 2%;
color: rgb(247 200 34);
display: flex;
flex-direction: column;
}


#component > p{
  font-family: 'Segoe UI';
  font-size: 8pt;
  /* line-height: 10pt; */
}

#component > h4{
  font-family: 'OptiBankGothic Light';
  font-size: 9px;
  letter-spacing: 3px;
  padding-bottom: 3%;
}


#five-pics {
  width: 100%;
  height: auto;
}

#res1 {
  width: 445px;
  height: auto;
}
#res2 {
  width: 445px;
  height: auto;
 
}

/* #component > p {
  font-size: 45px;
  color: white;
} */

/* #menu-box > p {
  width: '30%';
  border: '1px solid red', 
} */